{% extends 'base.html' %}  

{% block content %}

{% load static %}

<div class="bg-light text-dark">
    <!-- title -->
    <div class="container-fluid p-5 bg-dark text-white text-center">
        <h1 class="p-5">Contact Us</h1>
    </div>

    <!-- content -->
    <div class="p-5">
        <!-- information -->
        <div class="p-5">
            <p><span class="fw-bold">Phone: </span>(334) 821 1182</p>
            <p class="fw-bold">Grace Heritage Church: <a style="text-decoration: none;" href="https://www.google.com/maps/dir//1345+Annalue+Dr%2C+Auburn+AL+36830/">1345 Annalue Dr. Auburn, AL 36830</a></p>
        </div>
        <!-- the actual form -->
        <div class="ps-5">
            <h1>Contact Form</h1>
            <p class="text-danger">all feilds required</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control rounded" id="name" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control rounded" id="email" required>
                </div>
                <div class="mb-3">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control rounded" id="message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
        </div>
    </div>
</div>

{% endblock %}