{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="d-flex justify-content-center">
  <div class="text-center">
    <img src="{% static 'MG_2545-1680x1050.jpg' %}" class="img-fluid mx-auto" style="max-width: auto; height: auto;" alt="Responsive image">
  </div>
</div>

<!--<div style="background-image: url('{% static 'MG_2545-1680x1050.jpg' %}');">-->
  
<div class="col p-5 text-center">
  <div class="row">
    <h1>Building a household of faith on a foundation of grace</h1>
  </div>
  <div class="row p-4">
    <h1 class="fw-lighter">Join us for worship this <strong>Sunday</strong></h1>
  </div>
</div>





{% endblock %}
