{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- picture of ghc inside annalue -->
<div class="col text-center">
  <img src="{% static 'ghc_building.jpg' %}" class="img-fluid mx-auto" style="max-height: 100%;"  alt="Picture of Grace Heritage Church">
</div>

<!-- page greeting -->
<div class="col p-5 text-center pb-5">
  <div class="row">
    <h1 class="fw-lighter">Building a household of faith on a foundation of grace</h1>
  </div>
  <div class="row p-4">
    <h1 class="fw-lighter">Join us for worship this <span class="fw-bold">Sunday</span></h1>
  </div>
</div>

<!-- map image -->
<div class="col text-center map pt-5">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3360.6635301568112!2d-85.45596992368598!3d32.615149173731865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888cf2be738c9403%3A0x804a405848df6c48!2s1345%20Annalue%20Dr%2C%20Auburn%2C%20AL%2036830!5e0!3m2!1sen!2sus!4v1691430517559!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}
