{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="col text-center">
  <img src="{% static 'MG_2545-1680x1050.jpg' %}" class="img-fluid" alt="Picture of Grace Heritage Church">
</div>
 
<div class="col p-5 text-center">
  <div class="row">
    <h1 class="fw-lighter">Building a household of faith on a foundation of grace</h1>
  </div>
  <div class="row p-4">
    <h1 class="fw-lighter">Join us for worship this <span class="fw-bold">Sunday</span></h1>
  </div>
</div>

{% endblock %}
