{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- container makes settings apply to all objects -->
<div class="bg-light text-dark">
    <!-- title -->
    <div class="container-fluid p-5 bg-dark text-white text-center">
        <h1 class="p-5">Sermons</h1>
    </div>

    <!-- content-->
    <div class="row mb-3 text-center">
        {% for video in videos %}
            <div class="col-md-4 mt-5 themed-grid-col">
                <div class="card container-sm" style="max-width: 400px;">
                    <img src="{{ video.thumbnail }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{video.title}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">watch (note: add href)</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No videos found.</p>
        {% endfor %}
    </div>
    <!--<div class="p-5 text-center">
        {% for video in videos %}
            <div class="col-md-4">
                
            </div>
        {% empty %}
            <p>No videos found.</p>
        {% endfor %}
    </div>-->
</div>

{% endblock%}
